//base
@import "base/normalize";
@import "base/fonts";
@import "base/variables";

//blocks
@import "blocks/container";
@import "blocks/section";
@import "blocks/page-header";
@import "blocks/btn";
@import "blocks/slide-arrow";
@import "blocks/page-main";
@import "blocks/we-best";
@import "blocks/reviews";
@import "blocks/page-pagination";


body {
  font-family: $default-font;

}
p, 
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}


header {
  height: 100vh;
}