.burgers {

	background: #f9b43b;
	background: linear-gradient(to bottom,  #f9b43b 0%,#eb8c38 40%,#eb8c38 60%,#eb8c38 60%,#f9b43b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b43b', endColorstr='#f9b43b',GradientType=0 );
	display: flex;
	align-items: center;
	justify-content: center;
	
	&__wrapper {
		display: flex;
		width: 90%;
		height: 100%;
		position: relative;
		color: white;
		overflow: hidden;

		@include phones {
			width: 80%;
			height: 80%;
		}
	}

	&__inner {
		width: 100%;
		display: flex;
		position: relative;
		will-change: right;
		transition: right 0.5s;

	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $default-font;
		min-width: 100%;

		@include tablets {
			flex-direction: column;
		}

		@include phones {
			min-width: 40%;
		}

		@include smallphone {
			min-width: 30%;
		}

	}

	&__img-wrap {
		height: 100%;
		width: 30%;
		display: flex;
    flex-direction: column;
    justify-content: space-around;

		&--slide01 {
			background: url(../images/burgers/burger-slide-01.png) no-repeat center;
			background-size: contain;
		}
		&--slide02 {
			background: url(../images/burgers/burger-slide-02.png) no-repeat center;
			background-size: contain;
		}
		&--slide03 {
			background: url(../images/burgers/burger-slide-03.png) no-repeat center;
			background-size: contain;
		}

		@include tablets {
			width: 100%;
			height: 100%;
			flex-direction: row;
			justify-content: space-between;
		}

		@include phones {
			margin-top: rem(50px);
			width: 90%;
		}
	}

	&__list {
		position: absolute;
		display: none;
		left: 80px;
    top: 0px;
		width: rem(270px);
		flex-direction: column;
		background-color: hsla(0, 0%, 100%, 0.8);
		color: black;
		font-family: $medium-font;

	}

	&__icon-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: rem(80px);
		width: rem(80px);
		background-color: #eb8c38;
		border-radius: 5px;
		font-family: $title-font;
		text-align: center;
		cursor: pointer;

		&--kkal {
			background-color: transparent;
			opacity: 0.5;
		}

		&--active .burgers__list {
			display: flex;
		}

		@include phones {
			top: -30px;
		}
	}

	&__desc {
		font-family: $default-font;
		width: 80%;
		font-size: rem(14px);
		
		@include phones {
			width: 100%;
		}
	}
		
	&__item {
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: rem(14px);
		margin-bottom: rem(14px);
	}

	&__icon {
		width: rem(40px);
		height: rem(40px);

		&-name {
			position: relative;

			&--kkal {
				position: absolute;
				top: 35px;
				line-height: 23px;
				
				@include phones {
					top: 28px;
					line-height: 20px;
				}
			}
		}
	}


	&__text-wrap {
		width: 60%;
    margin-left: 30px;

		@include phones {
			width: 90%;
			text-align: center;
		}
	}

	&__order-wrap {
		display: flex;
		align-items: center;

		@include phones {
			margin-top: rem(20px);
		}
	}

	&__price {
		font-family: $title-font;
		font-size: rem(64px);
		color: $accent-color;
		margin-right: rem(30px);

		@include tablets {
			font-size: rem(24px);
		}
	}

}
