.page-footer {
  height: 100vh;
  position: relative;


  &__inner {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    bottom: 0vh;
    background-color: #111111;
    color: white;
    line-height: 1.6;
    font-family: $default-font;

    @include phones {
      flex-direction: column;
      height: auto;
    }
  }

  &__contact {
    padding-left: 6%;

    @include phones {
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 0%;
    }
  }

  &__phone {
    display: flex;
    font-family: $bold-font;
    color: $accent-color;
    &::before {
      content: "";
      background-image: url(../images/icons/phone.svg);
      background-repeat: no-repeat;
      display: block;
      width: rem(20px);
      margin-top: rem(8px);

      @include phones {
        margin-top: rem(4px);
      }
    }

    @include phones {
      justify-content: center;
    }
  }


  
  &__social {
    padding-right: 6%;

    @include phones {
      margin-bottom: rem(10px);
      padding-right: 0%;
    }
  }

  &__map {
    height: 100vh;
  }
}