.accordion-vertical {
    display: flex;
    justify-content: flex-end;
    height: 100%;

    &__card {
      display: flex;
      background: #2f3234;
      opacity: .929;

        @include phones {
          width: 50%;
          display: flex;
          align-items: center;
        }
      }

    &__head {
        display: flex;
        align-items: center;
        font-family: $title-font;
        color: white;
        text-decoration: none;
        font-size: rem(40px);
        writing-mode: tb-rl;
        transform: rotate(180deg);
        padding: rem(20px);
        cursor: pointer;

        @include phones {
          padding: rem(15px);
        }

        &--bg-01 {
          background: url(../images/bg/menu-bg-01.png) no-repeat;
          background-size: cover;
        }
        &--bg-02 {
          background: url(../images/bg/menu-bg-02.png) no-repeat;
          background-size: cover;
        }
        &--bg-03 {
          background: url(../images/bg/menu-bg-03.png) no-repeat;
          background-size: cover;
        }
    }

    &__body {
      width: 0;
      overflow: hidden;

      &--active { 
          width: 540px;

          .accordion-vertical__head {
            color: $yellow-color;
          }
  
        }
        
    }
    
    &__content {
      padding: rem(60px) rem(30px);

      @include phones {
        padding: rem(10px) rem(5px);
        font-size: rem(10px);
      }

    }

  }