.form {
  display: flex;
  color: white;
  font-family: $default-font;

  @include phones {
    flex-direction: column;
  }

  &__block {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-right: rem(10px);
    padding-left: rem(10px);

    @include phones {
      width: 100%;
    }
  }

  &__row {
    display: flex;
    margin-bottom: rem(20px);

    &--checkbox {
      margin-bottom: rem(10px);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: rem(20px);

    &--small {
      width: 21.34%;
    }

    &--user {

      @include phones {
        width: 50%;
      }
    }

    &--radio,
    &--checkbox {
      width: 30%;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__label {
    margin-bottom: rem(10px);
    cursor: pointer;

    &--radio {
      margin-bottom: 0;
      margin-left: rem(10px);
    }
  }

  &__input {
    height: rem(25px);
    border: 0;
    border-radius: rem(5px);
    color: black;
    padding: rem(5px) rem(20px);

    &:active,
    &:focus {
      box-shadow: 0px 0px 0px 2px $yellow-color;
      outline: none;
    }

    &:checked {
      background: red;
    }
  }

  &__textarea {
    height: rem(112px);
    border-radius: rem(5px);
    margin-bottom: rem(10px);

    &:active,
    &:focus {
      box-shadow: 0px 0px 0px 2px $yellow-color;
      outline: none;
    }
  }

  &__btn {
    background-color: $accent-color;
    border: 0;
    padding: rem(10px) rem(15px);
    width: rem(100px);
    margin-right: rem(20px);
    border-radius: rem(5px);
    outline: none;

    &--reset {
      background-color: transparent;
    }
  }


.input {

  &--radio {
    position: relative;      
	  width: 10px;             
	  height: 10px;            
	  border: 2px solid #ccc;
	  border-radius: 50%;
  }

}

input:checked + .input--radio::before {
  content: ""; 
  display: block;	
  position: absolute;  
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: #fa0828;     
}

}


