.menu {
  display: flex;
  &__link {
    color: white;
    font-family: $medium-font;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 15px;
    &:hover,
    &:active {
      opacity: 0.8;
    }
  }
  &__link:after {
    content: "";
    height: 5px;
    width: 5px;
    background: white;
    border-radius: 50%;
    margin-left: 15px;
  }
  &__link:last-child:after {
    background: transparent;
  }

  @include tablets {
    display: none;
  } 
}

