.section {
  height: 100vh;
  width: 100%;
  min-height: 650px;

  &__title {
    font-family: $title-font;
    font-size: rem(64px);
    letter-spacing: 5px;
    line-height: 0.889;
    text-align: center;
    padding-top: 140px;
    margin-bottom: 50px;

    @include phones {
      margin-bottom: rem(30px);
    }

    &--dark {
      color: $grey-color;
    }
    &--yellow {
      color: $yellow-color;
    }
    &--menu {
      position: absolute;
      text-align: left;
      margin-left: rem(90px);

      @include phones {
        margin-left: rem(50px);
      }
      
    }
  }
}