.section {
  height: 100vh;
  width: 100%;
  min-height: 650px;

  &__title {

    font-family: $title-font;
    font-size: rem(84px);
    letter-spacing: 5px;
    line-height: 0.889;
    text-align: center;
    padding-top: rem(140px);
    margin-bottom: rem(50px);

    @include phones {
      margin-bottom: rem(30px);
      font-size: rem(34px);
      padding-top: rem(80px);
    }

    &--burgers {
      color: white;
      padding-top: 0;
      text-align: left;
      width: 70%;

      @include phones {
        width: 100%;
        text-align: center;
      }
    }





    &--dark {
      color: $grey-color;
    }
    &--yellow {
      color: $yellow-color;
    }
    &--menu {
      position: absolute;
      text-align: left;
      margin-left: rem(90px);

      @include phones {
        margin-left: rem(50px);
      }
      
    }
  }
}