.slide-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;


  &--burgers {
    height: auto;
  }

  &__link {
    &::after {
      content: '';
      display: flex;
      padding: rem(10px);
      border-right: 3px solid white;
      border-bottom: 3px solid white;
      transform: rotate(45deg);
      border-radius: 5px;

    }

    &--left::after {
      transform: rotate(130deg);

    }

    &--right::after {
      transform: rotate(-45deg);
      
    }




  }

  @include tablets {
    align-items: flex-end;
    height: 25vh;
  }
  

}

