.social {

  &__list {
    display: flex;
    list-style: none;
    height: 20px;
  }

  &__item {
      width: 20px;
      display: block;
      color: white;
      margin-right: 15px;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
      
    }

  &__icon {
    width: rem(25px);
    height: rem(25px);
    }
  }