@import "../base/variables";

.btn {
  font-family: $medium-font;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
  &--header {
    background: $accent-color;
  }
  &--reviews {
    background: $grey-color;
  }
}