.page-main {
  &__title {
    font-family: $title-font;
    font-size: 74px;
    color: $grey-color;
    line-height: 0.889;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 50px;
  }

}