.section {
  height: 100vh;
  min-height: 650px;
  &__title {
    font-family: $title-font;
    font-size: 74px;
    line-height: 0.889;
    text-align: center;
    padding-top: 140px;
    padding-bottom: 50px;
    &--dark {
      color: $grey-color;
    }
  }
}