$default-font: "UbuntuLight";
$medium-font: "UbuntuMedium";
$title-font: "GagalinRegular";
$lifehack-font: "Lifehack";
$yellow-color: #f9b43b;
$accent-color: rgb(228, 80, 40);
$grey-color:  rgb(47, 50, 52);